
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="login_width row">
            <div class="account-wall">
                <img class="profile-img" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"
                     alt="">
                     <p class="text-center mt-0 title">Forgot Password</p>
                    <form class="form-material set-submit-input form-signin">
                        <div class="form-group set-submit-box mt-20">
                            <input type="text" name="email" class="form-control" id="email" required="">
                            <span class="form-bar"></span>
                            <label class="float-label" for="email">Email</label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding_zero">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">
                                Forgot Password
                            </button>

                            <hr />
                            <span>Don't have an account yet? <a routerLink="/signup" class="red">Register today.</a></span>
                        </div>
                    </form>
                <div class="clearfix"></div>
                </div>
            </div>
        </div>
</body>
</html>
